@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.container{
    padding-left: 90px;
    position : fixed;
    width: calc(100vw - 90px);
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
}

.text{
    font-family: 'Dancing Script', cursive;
    font-size: 28px;
}

.notification{
    position: fixed;
    right: 10px;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.notification button{
    border: none;
    outline : none;
    background-color: transparent;
    cursor: pointer;
}

.button{
    border: none;
    outline : none;
    background-color: transparent;
    cursor: pointer;
}

.searchContainer{
    height: 35px;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: auto auto;
    width: 300px;
    padding: 5px;
    border-radius: 10px;
    gap: none;
    background-color: white;
}

@media (min-width:320px)  {

    .container{
        gap: 25px;
    }
    
    .text{
        display: none;
    }

    .searchContainer{
        width: 280px;
        background-color: transparent;
    }

}
@media (min-width:480px)  {
    .text{
        display: block;
    }
}
@media (min-width:600px)  {}
@media (min-width:801px)  {


    .container{
        gap: 25vw;
    }

    .searchContainer{
        width: 300px;
        background-color: white;
        gap: 25vw;
    }
}
@media (min-width:1025px) {
    .text{
        display: block;
    }
}
@media (min-width:1320px) {}

