.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
<<<<<<< HEAD
    padding: 5px;
    height: fit-content;
    width: 20vw;
}

.titleContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
=======
    padding: 15px;
    width: 320px;
    min-width: 320px;
    color: black;
    font-family: 'roboto';
    position: relative;
}

.titleButtonContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title{
    font-size: 20px;
    font-weight: bold;
}

.button{
    position: absolute;
    right: 15px;
    outline: none;
    border: none;
    background-color: transparent;
}

.button:hover{
    color: blue;
>>>>>>> 6fd702d018d5d3e4ddf995834cfa94d5954f84a7
}