.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    padding: 5px;
    height: fit-content;
    width: 20vw;
}

.titleContainer{
    display: flex;
    flex-direction: row;
    gap: 20px;
}