@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.container{
    height: 100vh;
    width: 60px;
    background-color : transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'roboto';
    gap: 8vh;
    position: fixed;
}

.logo{
    height: 35px;
    object-fit: contain;
    mix-blend-mode: lighten;
}

.logoContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
    font-size: 15px;
    font-family: 'Dancing Script', cursive;
    margin-top: 4vh;
    color: white;
}

.pages{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.iconContainer{
    display: flex;
    flex-direction: column;
    font-size: 10px;
    color : white;
    align-items: center;
    justify-content: center;
    gap: 2px;
}