.container{
    height: fit-content;
    width: fit-content;
    max-height: calc(100vh-60px);
    max-width: calc(100vw-60px);
    display: flex;
    flex-direction: row;
    gap: 8vw;
    font-family: 'roboto';
    color: white;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 14vh 5vh 4vh 12vh;
}

.booksContainer{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
    justify-content: center;
}

.popularBooksContainer{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.popularBooks{
    align-items: center;
    justify-content: center;
    row-gap: 2vh;
    column-gap: 7vh;
    display: grid;
    grid-template-rows: auto auto;
}

.textContainer{
    display : flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 70%;
    font-size: 21px;
}

.button{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 16px;
    color: white;
}

.button:hover{
    color: blue;
}

.booksCardContainer{
    display: flex;
    flex-direction: row;
    gap: 4vh;
    
}

.bookCardContainer{
    display: grid;
    grid-template-columns: 15% 40% 40%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3px 0px;
}

.cardImg{
    height: 40px;
    width: fit-content;
    object-fit: contain;
    border-radius: 5px;
}

.categorieauthorCardsContainer{
    display: flex;
    gap: 4vh;
}

.authorimg{
    height: 35px;
    width: 35px;
    object-fit: contain;
    border-radius: 100px;
}

.list{
    display: grid;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

@media (min-width:320px)  { 

    .popularBooks{
        width: 60vw;
        grid-template-columns: auto auto;
    }

    .categorieauthorCardsContainer{
        display: none;
    }

    .booksCardContainer{
        display: none;
    }

}

@media (min-width:480px)  {}

@media (min-width:600px)  {

    .popularBooks{
        width: 85vw;
        grid-template-columns: auto auto auto;
    }

    .booksContainer{
        flex-wrap: wrap;
    }

}

@media (min-width:801px)  {

    .container{
        flex-direction: column;
    }

    .popularBooks{
        grid-template-columns: auto auto auto auto;
    }

    .categorieauthorCardsContainer{
        display:flex;
        width: fit-content;
        flex-direction: row;
    }

    .booksCardContainer{
        display: flex;
        width: fit-content;
    }

}

@media (min-width:1025px) {

    .popularBooks{
        grid-template-columns: auto auto auto auto auto;
    }

}

@media (min-width:1350px) {

    .container{
        flex-direction: row;
    }

    .popularBooks{
        border-right: 2px solid darkgray;
        width: 55vw;
    }

    .categorieauthorCardsContainer{
        width: 25vw;
        flex-direction: column;
    }

    .booksCardContainer{
        width: 55vw;
    }

}