.container{
    height: fit-content;
    width: fit-content;
    max-height: calc(100vh-60px);
    max-width: calc(100vw-60px);
    padding: 15vh;
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-family: 'roboto';
    color: white;
}

.booksContainer{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.popularBooksContainer{
    display: flex;
    flex-direction: column;
    gap: 5vh;
}

.popularBooks{
    border-right: 2px solid darkgray;
    width: 55vw;
    align-items: center;
    justify-content: center;
    row-gap: 2vh;
    column-gap: 7vh;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;
}

.textContainer{
    display : flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 70%;
    font-size: 21px;
}

.button{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 16px;
    color: white;
}

.button:hover{
    color: blue;
}

.booksCardContainer{
    display: flex;
    flex-direction: row;
    gap: 3vw;
    width: 55vw;
    align-items: center;
    justify-content: center;
}

.bookCardContainer{
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    justify-content: center;
}

.cardImg{
    height: 40px;
    width: fit-content;
    object-fit: contain;
    border-radius: 5px;
}