.container{
    margin: 30px;
    z-index: 10000;
    background-color: #474b4f;
    height: fit-content;
    width: fit-content;
    border-radius: 20px;
    position: relative;
}

.buttonContainer button{
    height: 35px;
    width: 50%;
    outline: none;
    border: none;
    font-size: 18px;
    font-family: 'roboto';
}

.closeButton{
    position: absolute;
    right: 15px;
    top: 15px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    font-size: 20px;
}

.closeButton.closeButton:hover{
    color: #86c232;
}